body {
    text-align: center;
    /*background-color: #E9E7E7;*/
    width: 100%;
    height: 100%;
}

.custom-div-center {
    margin-top: 25%;
    padding-top: 20px;
    width: 500px;
    background-color: #e2e2e2;
    border-radius: 25px;
    display: inline-block;
    /*vertical-align: middle;*/
}

.custom-div-center .layui-form-item {
    width: 90%;
}